.hero img{
	display: block;
	width: 50%;
	height: 40%;
	margin-top: 30px;
	margin-left: 30px;
}


.breadcrumb{
	background: none;
	font-size: 18px;
	margin-top: 10px;


}
.breadcrumb-item{

	margin: 20px;
	color: #fff;
	margin-left: 50px;
}

.underline{
	background-color: gray;
	height: 5px;
}

.max{
	background-color:#ee4a3f;
padding: 50px 0px;
}

.don h1{
 margin: 20px 0px;
 color: #fff;
 font-size: 35px;
}

.don p{
	color: #fff;
	text-align: justify;
	font-size: 13px;
	margin: 20px 0px;
}

h6{
	margin-top: 20px;
	color: #fff;
}

.input{
	background-color: #ff6258;
	border: 0px;
	width: 85%;
	height: 50px;


}


.box img{
	margin-top: 65%;
	transition: 0.7s ease;
}
.box img:hover{
	transform: scale(1.2);
}



footer{
	background-color: #ef4035;
	padding: 20px;

}
.fourth{
	text-align: center;
	color: #fff;
	margin-top: 10px;
	margin-bottom: 10px;


}


@media(min-width: 320px) and (max-width: 500px){

	.breadcrumb{
	
	font-size: 15px;
	margin-top: 5px;


}
.breadcrumb-item{

	margin: 10px;
	margin-left: 30px;
}








}



